/* colors */
//(Fondo Principal)
$negro: #000000;
//(Fondo Secundario / Secciones)
$gris-oscuro: #1C1C1C;
//(Textos y Bordes)
$gris: #666666;
//(Textos y Detalles)
$blanco: #F2F2F2;
//(Detalles y Enlaces)
$rojo-oscuro: #B22222;

/* Tamaños de mediaquerys */
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;